body {
  font-family: 'Goudy Old Style';
  background-image: image-url('collage.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  border-style: ridge;
  border-color: #228653;
  border-width: 35px;
}

.menu {
  position: fixed;
  bottom: 40px;
}

.side-nav {
  background-color: #62D99C;
  position: fixed;
  bottom: 35px;
  left: 35px;
  top: 35px;
  width: 10em;
}
table {
  padding-top: 10px;
}
