body {
  // background-image: image-url('collage.jpeg');
  // background-repeat: no-repeat;
  // background-size: cover;
  border-style: ridge;
  border-color: #228653;
  border-width: 35px;
}
.card {
  background-attachment: fixed;
  background-image: image-url('index_card.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 85%;
}
.intro {
  height: 100%;
  vertical-align: middle;
}
.log-links {
  position: fixed;
  width: 8em;
  bottom: 40px;
}

.side-nav {
  background-color: #62D99C;
  text-align: center;
  position: fixed;
  bottom: 35px;
  left: 35px;
  top: 35px;
  width: 8em;
}
table {
  padding-top: 10px;
}
.column.large-centered {
  text-align: center;
 }
