body {
  /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYuPx0cYi2Uqzz0gXgogXVEifyHJ7Mkpvq3pjYSFeGvHRkGRcZuA */
  border-style: ridge;
  border-color: #228653;
  border-width: 35px;
}
div.collage {
  background-image: url("app/assets/images/collage.jpg");
  background-size: 100%;
  background-attachment: fixed;
}
nav.top-bar {
  background: none;
}
