<div class="row">
  <div class="medium-8 push-1 medium-centered columns">
    <h1 class="welcome">Five Questions Quick Trivia</h1>

    <p>
      Three spare minutes before the next meeting?  This site is for you!  'Sign
      In,' 'Start New Quiz' and take on just five squirrelly factoids to sharpen
      your brain before moving on with your day.
    </p>
    <p>
      *Login is required*, but only so we can provide your quiz history.  We do
      not track activity beyond this trivia site.
    </p>
  </div>
</div>
